h1, h2, h3, h4 {
    color:rgb(34, 90, 128);
    font-family: Arial, Helvetica, sans-serif;
}

p, ul {
    font-family: Arial, Helvetica, sans-serif; 
    line-height: 1.5;
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    height: 80px;
}

/* Main column style */
.column {
    float: left;
    padding: 15px; 
}

.column1 {
    width: 15%;
    background-color: #f1f1f1;
    height: 1500px;
    border-right: 3px solid rgb(34, 90, 128);
}

.column2{
    width: 70%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    padding: 8px;
  }

