h1, h2, h3, h4 {
    color:rgb(34, 90, 128);
    font-family: Arial, Helvetica, sans-serif;
}

p, ul {
    font-family: Arial, Helvetica, sans-serif; 
    line-height: 1.5;
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.column {
    float: left;
    padding: 15px;
    
}

.column.side {
    width: 20%;
    background-color: #f1f1f1;
    height: 1000px;
}

.column.middle{
    width: 50%; 
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

