* {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    color:rgb(34, 90, 128);
    font-family: Arial, Helvetica, sans-serif;
}

p, ul {
    font-family: Arial, Helvetica, sans-serif; 
    line-height: 1.5;
}

.header {
    background-color: #cfcfcb;
    padding: 20px;
    text-align: center;
}

.column1, .column3 {
    width: 20%;
    background-color: #cfcfcb;
    height: 1000px;
    fload: left;
}

.column.middle{
    width: 60%; 
    float: left;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

